.secao-feedbacks {
     background: #0281B5; 
     margin: auto;  
     
} 

.secao-feedbacks > div {
     width: 1200px;
     margin: auto;
     border: 1px solid #000000;
} 

.secao-feedbacks > div > h2 {
     padding: 80px 0px;

}